

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;

    &--primary{
        color: #fff;
        background-color: rgb(128, 0, 128);
        text-align: center;
    }
    
    @media (max-width:640px){
        display: flex;
        width: 100%;
        margin-top: 1em;
        align-items: center;
        justify-content: center;
        
    }

    
    @media (max-width:1024px){
        display: flex;
        align-items: center;
    }
}
